.navbar-col-1{
    width: 100%;
    background-color: #ffffff;
}

.navbar-col-2{
    width: 80%;
    margin: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    font-size: 1.25rem;
    font-weight: 700;
}
.searchBar-col-1{
    width: 40%;
    position: relative;
}

.searchBar{
    width: 100%;
    font: var(--font-poppins);
    padding: 0.5rem 1rem;
    border: 2px solid #15be23;
    outline: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.searchIcon{
    width: 50px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: green;
}

.icon-search{
    color: #ffffff;
}

.profilePic{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    cursor: pointer;}

.profileLink{
    font-weight: 600;
}

.lucide{
    font-weight: 800;
}

.profileLink-col-1{
    display: flex;
    flex-direction: column;
}

.svgPic{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(61, 63, 65);
}

.watchListLink{
    position: relative;
}

.heartIcon{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid wheat;
    background-color: #008000;
    position: absolute;
    top: -4px;
    right: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heartIcon span{
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.watchList-col-1{
    display: flex;
    gap: 2rem;
}

.firstDropdown{
  width: 100%;
  display: flex;
  transition:all;
  transition-duration: 300ms;
}

.dropdown{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;

}

.dropbtn{
    width: 260px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: green;
    
}

.dropbtn-col-1{
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropbtn-col-1 span{
    color: #ffffff;
    font-weight: 500;
}

.dropdown-bg{
    width: 260px;
    position: absolute;
    left: 5;
    top: 58px;
    height: 300px;
    background-color: rgb(240, 237, 231);
}

.navLinks{
    display: flex;
    gap: 2rem;
    align-items: center;
}
