.navbar-col-1{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 0.2px solid rgba(51, 45, 45, 0.192);
}

.navbar-col-2{
    width: 80%;
    margin: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    font-size: 1.25rem;
    font-weight: 700;
}
.searchBar-col-1{
    width: 40%;
    position: relative;
}

.searchBar{
    width: 100%;
    font: var(--font-poppins);
    padding: 0.5rem 1rem;
    border: 2px solid #15be23;
    outline: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.searchIcon{
    width: 50px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: #15be23;
}

.icon-search{
    color: #ffffff;
}

.profilePic{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    cursor: pointer;}

.profileLink{
    font-weight: 600;
}

.lucide{
    font-weight: 800;
}

.profileLink-col-1{
    display: flex;
    flex-direction: column;
}

.svgPic{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(61, 63, 65);
}

.watchListLink{
    position: relative;
}

.heartIcon{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid wheat;
    background-color: #15be23;
    position: absolute;
    top: -4px;
    right: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heartIcon span{
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.watchList-col-1{
    display: flex;
    gap: 2rem;
}